@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@media (max-width: 768px) {
  .countup-container {
    font-size: 1.5rem; /* Adjust the font size for smaller screens */
    overflow: visible; /* Ensure the counter isn't hidden */
  }
  .countup-text {
    font-size: 1.5rem; /* Reduce font size to fit better */
    line-height: 1.2; /* Adjust line-height for better spacing */
  }
}
@theme {
  --color-dark: #1a1a1d;
}
